.encabezado {
    margin-top: 1%;
    font-size: 25px;
}


.sb{
    width: 700px;
    height: 50px;
    font-size: 20px;
}

.bi{
    font-size: 40px;  
}

.ingresar-texto{
    text-decoration: none;
    transition: color 0.3s;
    color: black
}
.ingresar-texto:hover{
    color: grey;
}


*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.op{
    font-size: 30px;

    
}

.lupa{
    font-size: 18px;
}

body{
    background-image: url(/img/background.jpg);
}